<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create author</title>
    <style>
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="create-form" action="create-author.html" th:method="post">
    <h3>Author Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly"/>
    </div>

    <div class="row">
        <label for="author-name-input">Full name:</label>
        <input id="author-name-input" type="text"/>
    </div>

    <div class="row">
        <button type="button" onclick="saveAuthor()">Save</button>
        <a href="author-list.html" th:href="@{/authors}">
            <button type="button">Cancel</button>
        </a>
    </div>
</form>

<script>
    async function saveAuthor() {
        const nameInput = document.getElementById("author-name-input");
        const author = { fullName: nameInput.Value };

        try {
            const resp = await fetch("/api/v1/authors", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(author)
            });

            if (resp.ok) {
                window.location.href = "/authors";
            } else {
              const errorMessage = await resp.text();
              alert(errorMessage);
            }
        } catch (e) {
            alert("Something wrong");
        }
    }
</script>
</body>
</html>
