spring:
  datasource:
    url: jdbc:h2:mem:maindb

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
  file:
    name: app.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} - %msg%n"


management:
  endpoints:
    web:
      exposure:
        include: health,metrics,logfile
  endpoint:
    health:
      enabled: true
      show-details: when_authorized
    metrics:
      enabled: true
    logfile:
      enabled: true



